*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

.btn {
  background-color: #006599;
  display: block;
  padding: 2rem 4rem;
  width: 160px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #0087cc; }

.footer {
  width: calc(100% - 30rem);
  height: 10rem;
  margin-left: 300px;
  margin-top: 3rem;
  padding: 1rem 0;
  text-align: center;
  border-top: solid 1px #f3f3f3; }

.copyright {
  font-size: 2rem;
  line-height: 10rem;
  color: #006599; }

.section-contact {
  padding-left: 4rem; }

.form {
  width: 50rem; }
  .form__input {
    display: block;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border: solid 1px #006599; }
    .form__input::placeholder {
      font-size: 1.6rem;
      color: #006599; }
  .form__textarea {
    display: block;
    width: 100%;
    height: 20rem;
    padding: 1rem;
    margin-bottom: 3rem;
    border: solid 1px #006599; }
    .form__textarea::placeholder {
      font-size: 1.6rem;
      color: #006599; }

.section-candy-1, .section-candy-2, .section-candy-3 {
  padding-right: 4rem; }

.gallery {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3rem; }

.candy-1__img {
  background-size: cover;
  width: 38%;
  height: 20rem; }
  .candy-1__img--1 {
    background-image: url("/img/galeria1.jpg"); }
  .candy-1__img--2 {
    background-image: url("/img/galeria2.jpg"); }
  .candy-1__img--3 {
    background-image: url("/img/galeria3.jpg"); }
  .candy-1__img--4 {
    background-image: url("/img/galeria4.jpg"); }
  .candy-1__img--5 {
    background-image: url("/img/galeria5.jpg"); }

.candy-2__img {
  background-size: cover;
  width: 38%;
  height: 20rem; }
  .candy-2__img--6 {
    background-image: url("/img/galeria6.jpg"); }
  .candy-2__img--7 {
    background-image: url("/img/galeria7.jpg"); }
  .candy-2__img--8 {
    background-image: url("/img/galeria8.jpg"); }

.candy-3__img {
  background-size: cover;
  width: 38%;
  height: 20rem; }
  .candy-3__img--9 {
    background-image: url("/img/galeria9.jpg"); }
  .candy-3__img--10 {
    background-image: url("/img/galeria10.jpg"); }
  .candy-3__img--11 {
    background-image: url("/img/galeria11.jpg"); }
  .candy-3__img--12 {
    background-image: url("/img/galeria12.jpg"); }

.main-content {
  width: calc(100% - 30rem);
  margin-left: 300px; }

section {
  padding-left: 5rem; }

.section-about {
  padding-right: 4rem; }
  .section-about__inner {
    display: flex;
    gap: 3rem; }
  .section-about .low-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/banner4.jpg");
    height: 40rem;
    order: 2; }

.section-welcome {
  padding: 0; }
  .section-welcome__inner {
    display: flex;
    gap: 3rem;
    padding-left: 5rem;
    padding-right: 3rem; }
  .section-welcome .banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/banner2.jpg");
    height: 50rem; }

.low-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/banner3.jpg");
  width: 30rem;
  height: 40rem;
  flex-shrink: 0; }

.asidebar {
  display: flex;
  justify-content: space-around;
  background-color: #006599;
  position: fixed;
  width: 30rem;
  height: 100%;
  padding: 4rem 0; }
  .asidebar-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem; }
  .asidebar__logo {
    width: 6rem;
    height: 6rem; }

.navigation {
  align-self: flex-start; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    padding: 2rem 0; }
  .navigation__link {
    color: #fff;
    transition: all 0.2s; }
    .navigation__link:hover {
      color: #f4ef5e; }

.heading-1 {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem; }

html {
  color: #373a3c; }

body {
  font-family: "Open sans", sans-serif; }

a {
  text-decoration: none; }

.heading-2 {
  color: #006599;
  margin: 3rem 0; }

.heading-2 {
  font-size: 4.8rem; }

.heading-3 {
  font-size: 3.5rem;
  color: #006599;
  margin-bottom: 3rem; }

.the-content p {
  line-height: 2;
  margin-bottom: 3rem; }

.u-margin-left-low {
  margin-left: 5rem; }
