*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

.asidebar {
  display: flex;
  justify-content: space-around;
  background-color: #006599;
  position: fixed;
  width: 30rem;
  height: 100vh;
  padding: 4rem 0; }
  .asidebar-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem; }
  .asidebar__logo {
    width: 6rem;
    height: 6rem; }

.navigation {
  align-self: flex-start; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    padding: 2rem 0; }
  .navigation__link {
    color: #fff;
    transition: all 0.2s; }
    .navigation__link:hover {
      color: #f4ef5e; }

.heading-1 {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem; }

html {
  color: #373a3c; }

body {
  font-family: "Open sans", sans-serif; }

a {
  text-decoration: none; }
