.asidebar {
  display: flex;
  justify-content: space-around;
  background-color: #006599;
  position: fixed;
  width: 30rem;
  height: 100%;
  padding: 4rem 0;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
  }

  &__logo {
    width: 6rem;
    height: 6rem;
  }
}

.navigation {
  align-self: flex-start;

  &__list {
    list-style: none;
  }

  &__item {
    padding: 2rem 0;
  }

  &__link {
    color: #fff;
    transition: all 0.2s;

    &:hover {
      color: #f4ef5e;
    }
  }
}
