.heading-1 {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

html {
  color: #373a3c;
}

body {
  font-family: "Open sans", sans-serif;
}

a {
  text-decoration: none;
}

%heading {
  color: #006599;
  margin: 3rem 0;
}

.heading-2 {
  @extend %heading;
  font-size: 4.8rem;
}

.heading-3 {
  font-size: 3.5rem;
  color: #006599;
  margin-bottom: 3rem;
}

.the-content p {
  line-height: 2;
  margin-bottom: 3rem;
}
